<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>cem.controlador.servlet.EntidadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesionServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.SesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemProgramaServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.CemProgramaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.CemAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FamiliaServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.FamiliaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoProgramaServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.AlumnoProgramaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CemFamiliasServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.CemFamiliasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CelProgramasServlet</servlet-name>
        <servlet-class>cem.controlador.servlet.CelProgramasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesionServlet</servlet-name>
        <url-pattern>/sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemProgramaServlet</servlet-name>
        <url-pattern>/cem-programas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/cem-alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FamiliaServlet</servlet-name>
        <url-pattern>/familias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoProgramaServlet</servlet-name>
        <url-pattern>/alumnos-programas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/ingresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CemFamiliasServlet</servlet-name>
        <url-pattern>/cem-familias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CelProgramasServlet</servlet-name>
        <url-pattern>/cel-programas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error/no-encontrado.html</location>
    </error-page>
</web-app>
